<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1036056708935-ofuqv41n5hb2jvj1vbpehfholii1rs1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1036056708935-ofuqv41n5hb2jvj1vbpehfholii1rs1k</string>
	<key>API_KEY</key>
	<string>AIzaSyB0fDzwXd0K9Pqe1npGd9E_7kGRrR1Mz2s</string>
	<key>GCM_SENDER_ID</key>
	<string>1036056708935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>YanPepik.com.BalancedDiet</string>
	<key>PROJECT_ID</key>
	<string>balanceddiet-c4c4f</string>
	<key>STORAGE_BUCKET</key>
	<string>balanceddiet-c4c4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1036056708935:ios:99b8dde52a40220a09ae62</string>
</dict>
</plist>